	<!-- About Section -->
	<section id="about" class="container content-section text-center">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="portrait">
				</div>
				<h2>About Ryan</h2>
				<p>Hey there! My name is Ryan and I amd a Software Engineer. My journey began in the fall of 2014 when I took an about face turn from "Outdoor Recreation Professional" to Web Development <a href="http://startbootstrap.com/template-overviews/grayscale/"></a></p>
			</div>
		</div>
	</section>