	<!-- Work Experience-->
	<section id="work" class="container content-section text-center">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h1>Work Experience</h1>
				<div class="col-md-4 ">
					<h3><a href="http://www.lifevantage.com" targe="_blank">LifeVantage</a></h3>
					<h5>UI/UX Developer</h5>
					<p>fill fill fill</p>
				</div>
				<div class="col-md-4">
					<h3><a href="http://www.devmounta.in" targe="_blank">DevMountain</a></h3>
					<h5>Student Mentor</h5>
					<p>fill fill fill</p>
				</div>
				<div class="col-md-4">
					<h3><a href="http://www.qzzr.com" targe="_blank">Qzzr</a></h3>
					<h5>Web Developer Intern</h5>
					<p>fill fill fill</p>
				</div>
			</div>
		</div>
		<div class="container text-center">
				<h3>Skill Set</h3>
				<ul>
					<li>HTML5</li>
					<li>CSS3</li>
					<li>JavaScript</li>
					<li>AngularJS</li>
					<li>JQuery</li>
					<li>NodeJS</li>
					<li>Express</li>
				</ul>
			</div>
	</section>